

.logo{
  margin-left: 2rem;
}


.MuiAppBar-colorPrimary{
  background-color:  white !important;
  color: #F27821 !important;
}
/* Menu's links */
.MuiTypography-body1 {
  color: #F27821;
  font-family: quicksand !important;
  font-weight: 300;
}

.MuiAppBar-positionFixed{
  position: absolute !important;
}

.button-download{
  background-image: linear-gradient(  #F27821, #F16908, #E7281F);
  border-radius: 10px!important;
}
.button-download .MuiTypography-body1{
  color: #fff!important;
}
/* Menu full-view hidden */
.header-menu{
  display: none;
  flex: 30% 1;
  justify-content: flex-end;
  margin-right: 2rem;
}
.MuiPaper-root .nl-btn{
  background-image: linear-gradient(  #F27821, #F16908, #E7281F);
  border-radius: 10px!important;
}
.header-menu a{
  color: #F27821;
  font-family: quicksand !important;
  font-weight: 300;
  margin-right: 2rem;
  text-decoration: none;
}
.header-menu a:hover{
  text-decoration: none;
}

/* =================== Media Queries ================================= */
@media screen and (min-width: 700px) {
  .MuiToolbar-regular{
    display: none!important;
  }
  .header-menu{
    display: flex!important;
  }
}
