.bgVid-container {
  height: 100%;
  width: 100%;
}

.bgVid {
  height: 65vh;
  width: 100%;
  object-fit: cover;
}

.mainContent {
  position: relative;
}

.mainContent .contentOverlay {
  position: absolute;
  bottom: 0%;
  text-align: left;
  padding: 1rem;
  width: 100%;
}

.mainContent h2 {
  color: white;
  font-weight: 300;
  font-family: Quicksand, sans-serif;
  /* font-weight: 700; */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px;
  margin: 0;
}
.signup {
  display: block;
  color: #f16908;
  border: 1px solid #f16908;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 17px;
  width: 40vw;
  text-align: center;
  margin-top: 10px;
}
.signup a {
  vertical-align: text-top;
  font-size: 17px;
  font-family: QuickSand;
}
.signup:hover {
  color: white;
  border-color: none;
  background-color: #f16908;
}

.mainContent {
  height: 70vh;
  min-height: 500px;
  /* REFERNCE (Image from Unsplash: https://images.unsplash.com/photo-1443706340763-4b60757a36ce?auto=format&fit=crop&ixlib=rb-1.2.1&q=80&w=675 */
  /* background-image: url("https://images.unsplash.com/photo-1443706340763-4b60757a36ce?ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80"); */
  background-size: cover;
  background-image: url("./anna-earl-ZbuP5oXM_zA-unsplash (1).jpg");
  background-position: center;
}
.bgVid-container {
  position: relative;
}
.bgVid {
  display: none;
}

@media screen and (min-width: 450px) {
  .signup {
    width: 30vw;
  }
}
@media screen and (min-width: 630px) {
  .signup {
    width: 25vw;
  }
}

@media screen and (min-width: 768px) {
  .signup {
    width: 20vw;
  }
  .mainContent h2 {
    width: 100%;
  }
  .bgVid {
    display: block;
  }

  .mainContent {
    height: auto;
    background-image: none;
    background-size: cover;
    background-position: center;
  }
  .mainContent .contentOverlay {
    width: 65%;
  }
}
@media screen and (min-width: 1000px) {
  .signup {
    width: 15vw;
  }
}
@media screen and (min-width: 1100px) {
  .signup {
    width: 10vw;
    padding: 3px;
  }
}
