.feature {
  background-image: linear-gradient(to bottom, #f16908, #e7281f);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}

.feature-description {
  margin-top: 8px;
  font-weight: regular;
  font-family: quicksand;
  font-size: 16px;
}

.feature-title {
  font-weight: bold;
  font-family: quicksand;
  font-size: 20px;
}

.feature-list {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .feature-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .feature {
    margin-left: 2% !important;
    margin-right: 2% !important;
  }
}
