.ContactPage {
  font-family: Quicksand, sans-serif;
}

.ContactPage h1 {
  font-weight: 100;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.ContactPage p {
  color: #404040;
  font-family: Open sans, sans-serif;
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 2rem;
}

.ContactPage form p {
  margin-bottom: 0.7rem;
}

/* .ContactPage form input {
  border: none;
  border-bottom: 0.1px solid #bebebe;
  width: 65%;
  margin-bottom: 1.5rem;
} */

/* .ContactPage form textarea {
  border: 0.1px solid #bebebe;
  width: 65%;
  margin-bottom: 1rem;
  min-height: 6rem;
} */

.ContactPage .submitButton {
  border: 1px solid #f27821;
  border-radius: 7px;
  width: 30%;
  color: #f27821;
  padding: 1%;
  font-size: 1rem;
  font-family: Quicksand, sans-serif;
}

.Contactmain {
  padding-top: 5rem;
  max-width: 1100px;
  margin: auto;
}



.contact-image-form {
  margin-top: 10%;
  margin-left: 2.5%;
  margin-bottom: 10%;
  margin-right: 2.5%;
}

.gradientDiv {
  background-image: linear-gradient(#f27821, #ef3830);
  border-radius: 3rem;
}

.contact-section {
  background-color: black;
}

.ContactPage {
  background-color: white;
  padding: 2rem;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.contact-image {
  display: none;
  background-size: cover;
  background-image: url("./anna.jpg");
  background-position: center;
}

@media only screen and (min-width: 530px) {
  .gradientDiv {
    background-image: linear-gradient(#f27821, #ef3830);
    border-radius: 3rem;
    animation: animation1 4s ease-in forwards;
  }

  .contact-image-form {
    margin-top: 10%;
    margin-left: 2.5%;
    margin-bottom: 10%;
  }

  .contact-section {
    animation: animation2 4s;
    animation-fill-mode: forwards;
  }
}

@media only screen and (min-width: 800px) {


  .Contactmain {
    padding-top: 10rem;

  }

  .gradientDiv {
    background-image: linear-gradient(#f27821, #ef3830);
    border-radius: 3rem;
    transform: rotate(10deg);
    animation: none;
  }

  .contact-image-form {
    margin-right: 0;
  }

  .contact-image {
    display: block;
    background-size: cover;
    background-image: url("./anna.jpg");
    background-position: center;
  }

  .contact-section {
    background-color: black;
    transform: rotate(-10deg);
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: none;
  }
}

@keyframes animation1 {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(4deg);
  }

  50% {
    transform: rotate(7deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

@keyframes animation2 {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}